trigger:
  - master
  - v5.0
pr:
  - master
  - v5.0

resources:
  - repo: self
    clean: true
    fetchDepth: 1

jobs:
  - job: ps3
    displayName: PowerShell 3
    continueOnError: false
    pool:
      name: Default
      demands:
        - ps3
    workspace:
      clean: all
    timeoutInMinutes: 3
    steps:
      - powershell: |
        ./test.ps1
