trigger:
  branches:
    include:
      - main
      - rel/*
  paths:
    exclude:
      - .devcontainer
      - .github
      - .vscode
      - docs
      - images
      - BACKERS.md
      - CODE_OF_CONDUCT.md
      - CONTRIBUTING.md
      - README.md
      - SECURITY.md
      - SUPPORT.md
pr:
  branches:
    include:
      - main
      - rel/*
      - dev/*
  paths:
    exclude:
      - .devcontainer
      - .github
      - .vscode
      - docs
      - images
      - BACKERS.md
      - CODE_OF_CONDUCT.md
      - CONTRIBUTING.md
      - README.md
      - SECURITY.md
      - SUPPORT.md

variables:
  DOTNET_SKIP_FIRST_TIME_EXPERIENCE: 1
  DOTNET_CLI_TELEMETRY_OPTOUT: 1
  DOTNET_GENERATE_ASPNET_CERTIFICATE: 0
  DOTNET_NOLOGO: 1
  CI: 1
  NUGET_PACKAGES: $(Pipeline.Workspace)/.nuget/packages

stages:
  - stage: Build
    jobs:
      - job: build
        workspace:
          clean: all
        pool:
          vmImage: windows-2022
        timeoutInMinutes: 5
        steps:
          - checkout: self
            fetchDepth: 1
          - task: Cache@2
            displayName: Cache
            inputs:
              # https://docs.microsoft.com/en-us/azure/devops/pipelines/artifacts/caching-nuget?view=azure-devops
              key: 'nuget | "$(Agent.OS)" | **/packages.lock.json,!**/bin/**,!**/obj/**'
              path: '$(NUGET_PACKAGES)'
              cacheHitVar: 'CACHE_RESTORED'
          - powershell: |
              "Running .NET SDK v$(dotnet --version)"
              ./build.ps1 -LockedRestore -Clean -Inline
          - publish: $(Build.SourcesDirectory)
            artifact: all

  - stage: Test
    jobs:
      - job:
        workspace:
          clean: all
        strategy:
          matrix:
            PS7_Ubuntu_22_04:
              vmImage: ubuntu-22.04
              pwsh: true
            PS7_Ubuntu_24_04:
              vmImage: ubuntu-24.04
              pwsh: true
            PS7_macOS_14:
              vmImage: macOS-14
              pwsh: true
            PS7_macOS_15:
              vmImage: macOS-15
              pwsh: true
            PS7_Windows_Server2022:
              vmImage: windows-2022
              pwsh: true
            PS_5_1_Windows_Server2022:
              vmImage: windows-2022
              pwsh: false
            PS7_Windows_Server2025:
              vmImage: windows-2025
              pwsh: true
            PS_5_1_Windows_Server2025:
              vmImage: windows-2025
              pwsh: false
        pool:
          vmImage: $[ variables['vmImage'] ]
        steps:
          - checkout: none
          - task: DownloadPipelineArtifact@2
            inputs:
              buildType: 'current'
              artifactName: 'all'
              targetPath: '$(Build.SourcesDirectory)'
          - task: PowerShell@2
            displayName: 'Test Pester'
            inputs:
              targetType: inline
              pwsh: $(pwsh)
              script: |
                & ./test.ps1 -CI -CC -PassThru -NoBuild
              workingDirectory: '$(Build.SourcesDirectory)'
          - task: PublishCodeCoverageResults@2
            inputs:
              summaryFileLocation: 'coverage.xml'
              pathToSources: '$(Build.SourcesDirectory)/bin/'
              failIfCoverageEmpty: false
            condition: succeededOrFailed()
          - task: PublishTestResults@2
            inputs:
              testResultsFormat: 'NUnit'
              testResultsFiles: 'testResults.xml'
              failTaskOnFailedTests: true
            condition: succeededOrFailed()
        timeoutInMinutes: 20
  # Run one step after the matrix so we don't have to list all the 
  # separate items in GitHub, and still are able to await the completion of the run
  # before auto-merge is allowed.
  - stage: Done
    jobs:
      - job: Done
        workspace:
          clean: all
        steps:
          - checkout: none
          - task: PowerShell@2
            displayName: 'All done'
            inputs:
              targetType: inline
              pwsh: true
              script: |
                "done"
              workingDirectory: '$(Build.SourcesDirectory)'


